doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="images/favicon-32x32.png", type="image/x-icon", sizes="32x32")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Mentor | Easybank landing page
    body 
        nav 
            div(class="logo"): a(href="index.html"): img(src="images/logo.svg", alt="logo")
            ul(class="menu")
                li: a(href="#") Home
                li: a(href="#") About
                li: a(href="#") Contact
                li: a(href="#") Blog
                li: a(href="#") Careers
            div(class="hamburger"): img(src="images/icon-hamburger.svg")
            div(class="close"): img(src="images/icon-close.svg")
            div(class="nav-btn"): a(href="#") Request Invite
        header 
            .header-sec-1 
                img(src="images/image-mockups.png")
            .header-sec-2 
                h2 Next generation digital banking
                p Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.
                a(class="header-btn" href="#") Request Invite
        main 
            section.sec-1 
                div(class="Why-us-col-1") 
                    h2 Why choose Easybank?
                    p  We leverage Open Banking to turn your bank account into your financial hub. Control your finances like never before.
                div(class="Why-us-col-2") 
                    div.item
                        img(src="images/icon-onboarding.svg")
                        h3 Online Banking
                        p Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world.
                    div.item
                        img(src="images/icon-budgeting.svg")
                        h3 Simple Budgeting
                        p See exactly where your money goes each month. Receive notifications when you’re close to hitting your limits.
                    div.item
                        img(src="images/icon-api.svg")
                        h3 Fast Onboarding
                        p We don’t do branches. Open your account in minutes online and start taking control of your finances right away.
                    div.item
                        img(src="images/icon-online.svg")
                        h3 Open API
                        p Manage your savings, investments, pension, and much more from one account. Tracking your money has never been easier.
            section.sec-2 
                h2 Latest Articles
                div.latest-Articles
                    div.sec_2_item
                        img(src="images/image-currency.jpg", alt="currency")
                        span By Claire Robinson
                        h3 Receive money in any currency with no fees
                        p The world is getting smaller and we’re becoming more mobile. So why should you be forced to only receive money in a single …
                    div.sec_2_item
                        img(src="images/image-restaurant.jpg", alt="restaurant")
                        span By Wilson Hutton
                        h3 Treat yourself without worrying about money
                        p Our simple budgeting feature allows you to separate out your spending and set realistic limits each month. That means you …
                    div.sec_2_item
                        img(src="images/image-plane.jpg", alt="plane")
                        span By Wilson Hutton
                        h3 Take your Easybank card wherever you go
                        p We want you to enjoy your travels. This is why we don’t charge any fees on purchases while you’re abroad. We’ll even show you …
                    div.sec_2_item
                        img(src="images/image-confetti.jpg", alt="confetti")
                        span By Claire Robinson
                        h3 Our invite-only Beta accounts are now live!
                        p After a lot of hard work by the whole team, we’re excited to launch our closed beta. It’s easy to request an invite through the site ...
        footer 
            div.info
                img(class="footer-logo" src="images/logo.svg", alt="logo")
                ul.social-media-link
                    li: a(href="#"): img(src="images/icon-facebook.svg", alt="")
                    li: a(href="#"): img(src="images/icon-youtube.svg", alt="")
                    li: a(href="#"): img(src="images/icon-twitter.svg", alt="")
                    li: a(href="#"): img(src="images/icon-pinterest.svg", alt="")
                    li: a(href="#"): img(src="images/icon-instagram.svg", alt="")
            ul.footer-menu-1
                li: a(href="#") About Us
                li: a(href="#") Contact
                li: a(href="#") Blog
            ul.footer-menu-2
                li: a(href="#") Careers
                li: a(href="#") Support
                li: a(href="#") Privacy Policy
            div.footer-sec-four
                a(class="footer-btn" href="#") Request Invite
                div(class="copyright") Easybank. All Rights Reserved
                div(class="Challenge").
                    Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor ]
                    Coded by #[a(href="#") Wael Alhassan]
    
    
        script(src="/main.js") 
    
    
    //-
        images/image-currency.jpg
        images/image-restaurant.jpg
        images/image-plane.jpg
        images/image-confetti.jpg





        img(src="images/icon-api.svg", alt="")
        img(src="images/icon-onboarding.svg", alt="")
        img(src="images/icon-budgeting.svg", alt="")
        img(src="images/icon-online.svg", alt="")
        img(src="images/bg-intro-desktop.svg", alt="")
        img(src="images/bg-intro-mobile.svg", alt="")
        img(src="images/icon-close.svg", alt="")
        img(src="images/icon-facebook.svg", alt="")
        img(src="images/icon-hamburger.svg", alt="")
        img(src="images/icon-instagram.svg", alt="")

        img(src="images/icon-pinterest.svg", alt="")
        img(src="images/icon-twitter.svg", alt="")
        img(src="images/icon-youtube.svg", alt="")
        img(src="images/image-mockups.png")
        img(src="images/logo.svg", alt="")
        img(src="images/image-confetti.jpg", alt="")
        img(src="images/image-currency.jpg", alt="")
        img(src="images/image-plane.jpg", alt="")
        img(src="images/image-restaurant.jpg", alt="")